<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}"
      lang="en">
<head>
    <title>Not found</title>
</head>
<div layout:fragment="content">
    <h1 class="title is-1">404</h1>
    <h2 class="subtitle is-2">Not found</h2>

    <div class="buttons">
        <a class="button is-light" href="/">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Home</span>
            </span>
        </a>
    </div>
</div>
</html>
