<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />

    <link rel="stylesheet" th:href="@{/css/bulma.min.css}"/>
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}"/>
</head>
<body>
<section class="section">
    <div class="container">
        <div layout:fragment="content"></div>
    </div>
</section>
</body>
</html>
